/* 공통 세팅 */
footer {
    margin-top: 0; /* 이상한 거 껴 있네*/
}

p {
    margin: 0 0 10px; /* 이상한 거 껴 있네*/
}

    /* 해당 페이지 액션 달라서 */
a:hover, a:focus {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}

.fa-external-link:hover {
    color: #337ab7;
}

.row {
    margin: 0;
}

h1, .h1, h2, .h2, h3, .h3  {
    margin-top: 10px;
}

.title-color {
    color: #f5f5f5;
}

.modal-aboutme {
    max-width: 800px;
    margin: 10rem auto;
    width: 95%;
    word-break: keep-all;
}

.modal-aboutme .modal-aboutme-link-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.modal-aboutme-detail {
    margin-left: 2.5rem;
}

.modal-link-icon-size {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.modal-aboutme-pic {
    margin: 5rem 0;
    text-align: center;
}

.modal-aboutme-img {
    max-height: 40rem;
}

.modal-aboutme-title {
    padding: 0 3rem;
}

.gradient-background {
    background: linear-gradient(60deg, #00B4FF, #00B4FF, #E2F5FE, #23a6d5);
    /* background: linear-gradient(60deg, #fff, #E2F5FE, #23a6d5, #e73c7e); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradient-background2 {
    background: linear-gradient(60deg, #fff, #E2F5FE, #00B4FF, #87CEEB);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradient-color {
    animation: gradient-color 15s ease infinite;
}

.white_background {
    background: white;
    margin: 0 -15px;
}

.margin-between-section {
    margin: 3rem 0;
}

.padding-between-section {
    padding: 3rem 0;
}

.aboutme-common-title {
    color: #515151;
    text-align: center;
    font-size: 26px;
    /* font-style: italic; */
}
/* background: linear-gradient(#fff, #E2F5FE); */
/* background: linear-gradient(#E2F5FE, #fff); */
/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
/* background-size: 400% 400%; */
/* animation: gradient 15s ease infinite; */
/* background-size: 200% 200%; */
.aboutme-introduce {
    background: #12234f;
    min-height: 80vh;
    /* padding: 0 15px; */
}

.aboutme-phrase {
    color: white;
}

.aboutme-phrase-content {
    /* font-style:italic; */
    /* color: rgba(53, 53, 53, 0.9); */
    /* animation: gradient-color 15s ease infinite; */
    font-size: 2.8rem;
    font-weight: 700;
    word-break: keep-all;
}
.aboutme-profile {
    display: flex;
    align-items: flex-end;
}

.aboutme-profile-block {
    height: 100%;
    display: flex;
    margin: 3rem auto;
}

.aboutme-profile-summary-block {
    display: flex;
    display: -ms-flexbox;
    /*for ie*/
    justify-content: space-around;
    /*for moz & chrome*/
    -webkit-justify-content: space-evenly !important;
    width: 100%;
    align-self: center;
}

.aboutme-profile-summary-block .aboutme-profile-summary-content {
    color: #f5f5f5;
}
.aboutme-profile-summary-block .aboutme-profile-summary-content span a{
    color: #f5f5f5;
}

.aboutme-profile-pic-block {
    width: 100%;
    /* height: 100%; */
    max-width: 30rem;
    max-height: 30rem;
    /* margin: 0 auto; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
}

.aboutme-profile-pic-block .aboutme-profile-pic {
    /* max-height: 85%; */
    /* position: relative; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    border-radius: 50%;
}

.aboutme-profile-details-block {
    display: flex;
    height: 100%;
    /* margin-bottom: 3rem; */
    padding: 0;
}

.aboutme-profile-details-contents-block {
    width: 100%;
    margin: auto;
    /* background: linear-gradient(to right, rgba(256, 256, 256, 0.1), rgba(256, 256, 256, 1) 10%, rgba(256, 256, 256, 1) 90%, rgba(256, 256, 256, 0.1) 100%); */
    padding: 2rem 5rem 0 5rem;
    border-radius: 15px;
    word-break: keep-all;
}

.aboutme-profile-details-contents-block div p{
    font-size: 1.9rem;
    padding: 0 3rem;
    color: #aaa;
}

.aboutme-skills {
    min-height: 30vh;
    margin-top: -15rem;
}

.aboutme-skills-cover {
    background: white;
    border: 1px solid #E6ECF8;
    border-radius: 15px;
    padding: 0;
}

.aboutme-skills-title {
    margin: 3rem 0;
}

.aboutme-skills-block {
    display: flex;
    border-top: 1px solid #e6ecf8;
}

.aboutme-skills-half {
    width: 100%;
    text-align: center;
    padding: 70px 35px;
}

.aboutme-skills-half:nth-child(odd) {
    border-right: 1px solid #e6ecf8;
    border-bottom: none;
}

.aboutme-skill-title {
    filter: invert(95%) sepia(0%) saturate(657%) hue-rotate(147deg) brightness(98%) contrast(78%);
    font-size: 2.4rem;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #000000;
    padding-bottom: 2rem;
    width: 50%;
    margin: auto;
}

.aboutme-skills-pic {
    filter: invert(95%) sepia(0%) saturate(657%) hue-rotate(147deg) brightness(98%) contrast(78%);
    margin: 0 auto 2em;
}

.aboutme-skills-img {
    width: 5rem;
    height: 5rem;
}

.aboutme-skills-list-title {
    font-weight: 700;
    margin: 3rem 0;
}

.aboutme-skills-items {
    list-style: none;
    text-align: center;
    padding: 0;
}

.aboutme-skills-item {
    margin: 10px 0;
}

.aboutme-timeline {
    background: white;
    /* background: linear-gradient(to right, white, rgba(135, 206, 235, 0.4) 10%, rgba(135, 206, 235, 0.4) 90%, white 100%); */
    min-height: 30vh;
}

.aboutme-timeline-panel {
    position: relative;
    /* top: -4.5rem; */
    /* background: white; */
    /* border: 1px solid #f5f5f5; */
    border-radius: 15px;
}

/* timeline */
.aboutme-timeline-block {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto;
    /* background : #474e5d; */
    border-radius: 14px;
}
  
.aboutme-timeline-block::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #515151;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.aboutme-timeline-content-block {
    display: inline-block;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
.aboutme-timeline-content-block::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: white;
    border: 4px solid #00B4FF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.aboutme-timeline-content-phrase {
    font-size: 1.5rem;
}

.aboutme-timeline-content-details {
    font-size: 1.5rem;
}

.aboutme-timeline-link {
    color: black;
    text-decoration: none;
}
  
.aboutme-timeline-left {
    left: 0;
}
  
.aboutme-timeline-right {
    left: 50%;
}
  
.aboutme-timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #00B4FF;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00B4FF;
}
  
.aboutme-timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #00B4FF;
    border-width: 10px 10px 10px 0;
    border-color:  transparent #00B4FF transparent transparent;
}
  
.aboutme-timeline-right::after {
    left: -12.5px;
}
  
.aboutme-timeline-content {
    padding: 20px 30px;
    color: navy;
    /* color: #515151; */
    background-color: #00B4FF;
    position: relative;
    border-radius: 6px;
}

.aboutme-timeline-pic {
    width: 24rem;
    height: 18rem;
    border-radius: 50%;
}

.aboutme-projects {
    background: #12234f;
}

.aboutme-projects-cover {
    /* background: white; */
    /* border-radius: 15px; */
    /* padding: 3rem 0; */
    /* border: 1px solid #f5f5f5; */
}

.aboutme-projects-title {
    color : #f5f5f5;
}

.aboutme-projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutme-projects-content-block {
    position: relative;
    width: 35rem;
    margin: 2rem;
    background: white;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.aboutme-projects-content-block .aboutme-projects-modal-view {
    position: absolute;
    display: none;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

/* 데스크탑에선 보이지만 태블릿부터 안 보임 */
.aboutme-projects-content-block:hover .aboutme-projects-modal-view{
    display: block;
}

.aboutme-projects-content-block .aboutme-projects-modal-view .btn {
    padding: 1.3rem 2.6rem;
    border-radius: 15px;
}

.aboutme-projects-content-block:hover .aboutme-projects-content-hover-img {
    width: 100%;
    height: 28rem;
}

.aboutme-projects-content-block:hover::after{
    visibility: visible;
}

.aboutme-projects-content-block::after {
    position: absolute;
    visibility: hidden;
    content: '';
    width: 100%;
    background-color: lightgray;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
}

.aboutme-projects-content-block:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.aboutme-projects-content-link {
    color: black;
    text-decoration: none;
}

.aboutme-projects-content-pic {
    text-align: center;
    padding: 1rem;
}

.aboutme-projects-content-img {
    height: 25rem;
}

.aboutme-projects-content-summary {
    text-align: center;
    padding: 1rem;
    color: #515151;
}
.aboutme-projects-content-summary h3 {
    line-height: 1.5;
}

    /* 태블릿 까지 */
    @media only screen and (max-width: 1023px) {

        .aboutme-introduce {
            min-height: 55vh;
            /* padding: 0 15px; */
        }

        .aboutme-profile-pic-block {
            width: 100%;
        }

        .aboutme-profile-block {
            width: 100%;
            flex-wrap: wrap;
        }

        .aboutme-profile-block .aboutme-profile-pic {
            /* max-height: 85%; */
            /* left: 50%; */
            /* top: 50%; */
            /* transform: translate(-50%, -50%); */
            margin: auto;
        }

        .aboutme-profile-details-block {
            /* width: 100%; */
            /* flex-wrap: wrap; */
        }

        .aboutme-profile-details-contents-block {
            width: 100%;
            margin: auto;
            background: transparent;
            padding: 2rem 2rem;
            border-radius: 0px;
            word-break: keep-all;
        }
        
        .aboutme-profile-details-contents-block div p{
            font-size: initial;
            padding: 0 3rem;
        }

        .aboutme-profile-summary-block {
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }

        .aboutme-profile-pic-block {
            width: 100%;
            order : 1;
        }

        .aboutme-profile-summary-content {
            text-align: center;
            order: 2;
        }
            
        .aboutme-skills {
            min-height: 30vh;
            margin-top: -3rem;
        }

        .aboutme-skills-cover {
            /* width: 75%; */
            margin: 0 auto;
            background: white;
            border: none;
            border-radius: 0px;
            padding: 0;
        }

        .aboutme-skills-block {
            display: flex;
            flex-flow: nowrap;
            border-top: none;
        }

        .aboutme-skills-half:nth-child(odd) {
            /* border-right: none; */
            /* border-bottom: 1px solid #e6ecf8; */
        }

        .aboutme-skill-title {
            font-size: 1.9rem;
            font-weight: 700;
            font-style: italic;
        }

        .aboutme-projects-content-block {
            width: 60%;
            min-width: 30rem;
            margin: 3rem auto;
        }

        /* 데스크탑에선 보이지만 태블릿부터 안 보임 */
        .aboutme-projects-content-block:hover .aboutme-projects-modal-view{
            display: none;
        }

    }
  
    /* 모바일만 */
    @media only screen and (max-width: 768px) {

        .aboutme-phrase {
            padding-bottom: 0;
        }

        .aboutme-phrase-content {
            font-style:italic;
            /* color: rgba(53, 53, 53, 0.9); */
            /* animation: gradient-color 15s ease infinite; */
            font-size: 1.8rem;
            font-weight: 700;
            word-break: keep-all;
        }
        .aboutme-projects-content-block {
            width: 60%;
            min-width: 30rem;
            margin: 3rem auto;
        }

        .aboutme-timeline-block::after {
            left: 31px;
        }
        
        .aboutme-timeline-content-block {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        
        .aboutme-timeline-content-block::before {
            left: 60px;
            border: medium solid #00B4FF;
            border-width: 10px 10px 10px 0;
            border-color: transparent #00B4FF transparent transparent;
        }

        .aboutme-timeline-left::after, .aboutme-timeline-right::after {
            left: 17.5px;
        }

        .aboutme-timeline-right {
            left: 0%;
        }
    }
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-color {
    0% {
        color: rgba(53, 53, 53, 0.9);
    }
    50% {
        color: #fff;
    }
    100% {
        color: rgba(53, 53, 53, 0.9);
    }
}