
<!-- 태그 카테고리 -->
{%- capture site_tags -%}
{%- for tag in site.tags -%}
  {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}
{%- endcapture -%}
<!-- 태그 카테고리 끝-->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
      {%- endif -%}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {%- for link in site.navbar-links -%}
        {% if link[0] == "Tags" %}
        <!-- 태그 카테고리 -->
        {%- assign tags_list = site_tags | split:',' | sort -%}
        {% if tags_list.size > 0 %}
        <li class="navlinks-container">
          <a class="navlinks-parent text-uppercase" href="javascript:void(0)">Posts</a>
          <div class="navlinks-children abs-right-align">
            {%- for tag in tags_list -%}
            <a class="text-capitalize" href="/tags/#{{- tag -}}">{{- tag -}}&nbsp;({{site.tags[tag].size}})</a>
            {%- endfor -%}
          </div>
        </li>
        {% endif %}
        <!-- 태그 카테고리 끝-->
        {%- elsif link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent text-uppercase" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {%- for childlink in link[1] -%}
              {%- for linkparts in childlink %}
              <a href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
              {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          <li><a class="text-uppercase" href="{{ link[1] | relative_url }}">{{ link[0] }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    </div>

    {% if page.image and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img class="avatar-img" src="{{ page.image | relative_url }}" />
      </a>
      </div>
    </div>
    {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
      </a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>